---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Raleway');

@import url('text.css');
@import url('figures.css');

div.bounder {
	border-top-style: solid;
	border-bottom-style: solid;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-bottom:10px;
	border-width: 1px;
}

.new_papers {
	padding-top: 10px;
}
.new_papers p:hover{

  background:#cccccc
}

.news {
	padding: 20px;
	background: rgba(230, 230, 230, 0.6);
	border-style: solid;
	border-color:#080808;
	border-radius: 5px;
	height: 250px;
	box-shadow: 6px 10px 10px #888888;
}

.newsinner {
	padding: 5px 10px 5px 10px;
	overflow-y: scroll;
	background: rgba(210, 210, 210, 0.3);
	border-style: solid;
	border-color:#08080888;
	border-width: thin;
	height: 150px;
	display: inline-block;
	padding-bottom: 40px;
	margin-bottom: 10px;
	box-shadow: inset 2px 3px 3px #888888;
}
