---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Raleway');

p { font-family: "Raleway"; }

h2 { margin-top: 0cm; margin-bottom: 0.2cm; direction: ltr; font-variant: normal; color: #000000; line-height: 100%; text-align: left; page-break-inside: avoid; orphans: 2; widows: 2; text-decoration: none }

h2 { font-family: "Raleway"; font-size: 14pt; font-style: bold }

h1 { margin-bottom: 0.21cm; direction: inherit }

h1 { font-family: "Raleway"; font-size: 18pt; font-style: bold; }

p.hanging-indent { margin-left: 1cm; text-indent: -0.5cm; font-family: "EB Garamond"; font-size: 11pt }

p.hangingindent:hover{
  background:#dddddd
}

a:link { so-language: zxx }

.new_papers {
	padding-top: 10px;
}
.new_papers p:hover{

  background:#cccccc
}

summary {
	padding-top: 10px;
	font-family: "Raleway"; 
}

.news {
	padding: 10px;
	background:#cccccc;
	border-style: solid;
	border-color:#080808;
	border-radius: 5px;
}
