---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Raleway');

@import url('text.css');
@import url('figures.css');

div.bounder {
	border-top-style: solid;
	border-bottom-style: solid;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 10px;
	margin-bottom:10px;
	border-width: 1px;
}

.new_papers {
	padding-top: 10px;
}
.new_papers p:hover{

  background:#cccccc
}

.news {
	padding: 10px;
	background: rgba(230, 230, 230, 0.8);
	border-style: solid;
	border-color:#080808;
	border-radius: 5px;
}
